.jumbotron {
    background-image: url("../images/playa2.jpg");
    background-size: cover;
    color: white;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 px;
    background-image: url("../images/playa.jpg");
    background-size: cover;
    margin-bottom: 0px;
    color: white;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding: 10px;
    font-size: 20px;
}
a{
    color: white;
}
tab-content{
    padding-top: 10px;
}