.jumbotron {
  background-color: #fff;
  background-size: cover;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 px;
  background-color: #fffa19;
  background-size: cover;
  color: black;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding: 10px;
  font-size: 20px;
}
a {
  color: black;
}
tab-content {
  padding-top: 10px;
}
