$yellow: #fffa19;
@mixin margenes($top, $bottom) {
    margin-top: $top;
    margin-bottom: $bottom;
}
.jumbotron {
    background-color: $yellow;
    background-size: cover;
    color: black;
   @include margenes(50px, 0);
}

footer {
    padding: 10px 10px 0 px;
    background-color: $yellow;
    background-size: cover;
    margin-bottom: 0px;
    color: black;
    @include margenes(10px, 0);
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0);    
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding: 10px;
    font-size: 20px;
}
a{
    color: black;
}
tab-content{
    padding-top: 10px;
}