@yellow:#fffa19;
.margenes(@top:0px, @bottom: 0px){
  margin-top: @top;
  margin-bottom: @bottom;
}
.jumbotron {
    background-color: @yellow;
    background-size: cover;
    color: black;
   .margenes(50px, 0px) }
  
  footer {
    padding: 10px 10px 0 px;
    background-color: @yellow;
    background-size: cover;
    color: black;
    .margenes(10px, 0px)
    }
  
  .card-hotel {
    flex: 1 200px;
    .margenes(10px, 0px) }
  
  .btn-reserva {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding: 10px;
    font-size: 20px; }
  
  a {
    color: black; }
  
  tab-content {
    padding-top: 10px; }